/* flex 기본 */
.flex-layout {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mida-section {
  margin-top: 50px;
  padding: 20px;
  background-color: #f1f3f5;
}
.mida-h2 {
  margin-bottom: 50px;
  font-size: 3rem;
}
.mida-list {
  width: 20%;
  height: 150px;
  margin-right: 10px;
  background-color: #a5d8ff;
}
