.bg{
    height: 200px;
    width: 300px;
    background-color: rgb(23,23,701,0.5);
    border: 2px solid black;
    border-radius: 5px;
}
.img-box{
    position:absolute;
    top: 500px;
    left: 500px;
    height: 50px;
    width: 50px;
    background-color: rgb(200, 200, 700);
    border : 2px solid greenyellow;
    border-radius: 5px;
}
/* flex 기본 */
.flex-layout {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mida-section {
  margin-top: 50px;
  padding: 20px;
  background-color: #f1f3f5;
}
.mida-h2 {
  margin-bottom: 50px;
  font-size: 3rem;
}
.mida-list {
  width: 20%;
  height: 150px;
  margin-right: 10px;
  background-color: #a5d8ff;
}
